@font-face {
  font-family: "SFProDisplay";
  src: url("../sourse/fonts/SFPRODISPLAYREGULAR.OTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Buyan";
  src: url("../sourse/fonts/BuyanBold.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "SFProDisplay";
  font-weight: normal;
  font-style: normal;
  line-height: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

svg {
  max-width: 24px;
  max-height: 24px;
}

.container {
  position: relative;
  padding: 0 10px;
  max-width: 1140px;
  margin: 0 auto;
}

.subtitle {
  color: #2b3139;
  text-align: center;
  font-family: Buyan;
  font-size: 52px;
  font-weight: 700;
}

.subtext {
  margin-top: 10px;
  color: #2b3139;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.gray-background {
  background: #EFF2F5;
}

.red-text {
  color: #ed2228;
}

.page-path {
  margin-top: 20px;
  margin-bottom: 20px;
}

.slider {
  padding-bottom: 50px;
}

.header,
.header__upper,
.header__bottom,
.header__link,
.header__block {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 10px;
}
.header__container {
  width: 100%;
}
.header__upper {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EAEDF0;
  padding-bottom: 8px;
}
.header__bottom {
  padding-top: 10px;
}
.header__button {
  padding: 5px 10px;
  border-radius: 4px;
}
.header__block {
  margin-right: 40px;
}
.header__arrow {
  margin-left: 10px;
}
.logo-btn {
  margin-right: 100px;
}

.stripe {
  margin-top: 10px;
  height: 1px;
  background-color: #EAEDF0;
}

.search {
  margin-top: 40px;
  font-size: 20px;
}
.search__container {
  display: flex;
  justify-content: space-between;
}
.search__catalog-btn {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  width: 23%;
  padding: 12px 15px;
  border-radius: 4px;
}
.search__catalog-text {
  justify-self: start;
}
.search__input {
  font-size: 17px;
  width: 46%;
  background: url(../sourse/svg/search.svg) no-repeat scroll 7px 12px;
  background-size: 20px;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  padding-left: 50px;
}
.search__input:focus {
  outline: 2px solid #fce0e1;
}
.search__find-btn {
  width: 12%;
  padding: 12px 0px;
  border-radius: 4px;
  text-align: center;
}
.search__basket-btn {
  display: flex;
  justify-content: center;
  padding: 12px 0px;
  width: 12%;
  border-radius: 4px;
}
.search__basket-icon {
  margin-right: 3px;
}

.red-btn {
  background: linear-gradient(-180deg, rgb(255, 133, 113) 0%, rgb(237, 34, 40) 100%);
}
.red-btn:hover {
  background: linear-gradient(-180deg, rgb(255, 133, 113) 0%, rgb(247, 87, 79) 75%, rgb(237, 34, 40) 100%);
}

.pink-btn {
  transition: background-color 0.2s;
  background: #fce0e1;
}
.pink-btn:hover {
  background: #fcc0c2;
}

.burger {
  justify-self: start;
  margin-right: 30px;
}
.burger__stripe {
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 100px;
}
.burger__stripe:nth-child(-n+2) {
  margin-bottom: 4px;
}

.swiper {
  margin-top: 40px;
}

.swiper-1 {
  height: 420px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #FC7272;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-horizontal > .swiper-pagination-bullets {
  position: relative;
  bottom: 15px;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 60%;
  width: 60px;
  height: 60px;
  z-index: 10;
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.16));
  cursor: pointer;
  background-image: url("../sourse/svg/left-arrow.svg") !important;
}

.popular .left-arrow,
.popular .right-arrow {
  top: 50%;
}

.left-arrow {
  left: -82px;
}

.right-arrow {
  transform: rotate(180deg);
  right: -82px;
}

.swiper-3 {
  padding: 0px 10px;
}

.categories-main {
  padding: 30px 0px;
}
.categories-main__link {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
}
.categories-main__text {
  margin-top: 25px;
  text-align: center;
}

.popular {
  padding: 30px 0px 5px 0px;
  color: #2b3139;
}
.popular__link {
  margin-top: 5px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.12);
}
.popular__img {
  width: 75%;
  height: 270px;
  align-self: center;
}
.popular__name {
  padding-bottom: 30px;
  border-bottom: 1px solid #C4C4C4;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.popular__text {
  opacity: 0.8;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}
.popular__pricebar {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.popular__new-price, .popular__old-price {
  font-family: Buyan;
  line-height: 130%;
  /* 54.6px */
}
.popular__new-price {
  font-size: 42px;
}
.popular__old-price {
  opacity: 0.6;
  font-size: 32px;
  text-decoration: line-through;
}
.popular__buy-btn {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  padding: 18px;
  border-radius: 20px;
  background-color: #F2584F;
  transition: background-color 0.2s;
}
.popular__buy-btn:hover {
  background-color: #ed2228;
}
.popular__basket-text {
  margin-left: 15px;
  color: #FFF;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 20px;
  font-weight: 500;
}

.service {
  padding: 30px 0px;
}
.service__container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.service__card {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.12);
}
.service__info {
  margin-left: 23px;
}
.service__name {
  color: #2b3139;
  font-size: 20px;
  font-weight: 700;
}
.service__description {
  margin-top: 5px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #2b3139;
  opacity: 0.6;
}
.service__link {
  display: block;
  margin-top: 50px;
  color: #F2584F;
  font-weight: 500;
}
.service__arrow {
  width: 10px;
  height: 10px;
}

.about {
  padding-bottom: 50px;
}
.about .subtitle {
  margin-top: 35px;
}
.about__text-block {
  margin-top: 30px;
}
.about__text {
  margin-top: 10px;
}

.objects {
  padding: 33px 0px;
}
.objects__text {
  margin-top: 30px;
}
.objects__card {
  max-width: 350px;
}
.objects__name {
  margin-top: 10px;
  text-align: center;
}
.objects__container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 35px;
}

.standarts {
  padding: 50px 0px 25px 0px;
}
.standarts .text {
  margin-top: 32px;
  text-align: center;
}

.our-team {
  padding-bottom: 30px;
}
.our-team .subtitle {
  margin-top: 35px;
}
.our-team__card {
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.our-team__data-block {
  display: flex;
  align-items: center;
}
.our-team__info {
  margin-left: 50px;
}
.our-team__data {
  margin-left: 10px;
}
.our-team__img {
  width: 250px;
  height: 250px;
}
.our-team__position, .our-team__data-block {
  margin-top: 20px;
}
.our-team__position, .our-team__data {
  color: #2b3139;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  /* 125% */
  letter-spacing: 0.48px;
}
.our-team__name {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  /* 93.75% */
  letter-spacing: 0.64px;
}

.offices {
  padding: 33px 0px 57px 0px;
}
.offices__container {
  display: flex;
  justify-content: space-between;
}
.offices__card {
  margin-top: 30px;
  padding: 20px 120px 50px 40px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
  max-width: 550px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.12);
}
.offices__data-block {
  display: flex;
  align-items: center;
}
.offices__data {
  margin-left: 10px;
}
.offices__name {
  color: #000;
  font-size: 32px;
  font-weight: 400;
  line-height: 30px;
  /* 93.75% */
  letter-spacing: 0.64px;
}

.basket .subtitle {
  margin-top: 35px;
}
.basket__container {
  margin-top: 28px;
  display: flex;
}
.basket__product {
  margin-bottom: 18px;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  border: 1px solid #EAEDF0;
  border-radius: 12px;
}
.basket img {
  justify-self: start;
}
.basket__name {
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.28px;
}
.basket__price {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.28px;
}
.basket__icon-block {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: rgba(237, 34, 40, 0.26);
  cursor: pointer;
}

.quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quantity__block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  outline: 1px solid rgb(199, 199, 199);
  transform: translateY(15px);
}
.quantity__number {
  outline: none;
  border: none;
  height: 100%;
  width: 50%;
  text-align: center;
  font-size: 18px;
}
.quantity__minus, .quantity__plus {
  width: 25%;
  height: 100%;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}
.quantity__minus:hover, .quantity__plus:hover {
  background-color: rgb(171, 171, 171);
}
.quantity__minus {
  border-radius: 5px 0px 0px 5px;
}
.quantity__plus {
  border-radius: 0px 5px 5px 0px;
}
.quantity__stock {
  transform: translateY(20px);
  color: #A0A0A0;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.24px;
}

.total {
  margin-left: 50px;
  min-width: 300px;
  max-height: 250px;
  padding: 15px 15px 25px 15px;
  background-color: #fce0e1;
  border-radius: 10px;
}
.total__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.total__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.48px;
}
.total__number {
  color: #E21616;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.48px;
}
.total__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  background: linear-gradient(-180deg, rgb(255, 133, 113) 0%, rgb(237, 34, 40) 100%);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.4px;
}
.total__btn:hover {
  background: linear-gradient(-180deg, rgb(255, 133, 113) 0%, rgb(247, 87, 79) 75%, rgb(237, 34, 40) 100%);
}
.total__descr {
  color: #A0A0A0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.24px;
  text-decoration-line: underline;
}

.categories {
  margin-top: 15px;
  padding: 30px 0px;
}
.categories__container {
  margin-top: 20px;
  display: flex;
}
.categories__accordions {
  align-self: flex-start;
  max-width: 320px;
  padding: 15px 15px;
  background-color: #fff;
  border-radius: 10px;
}
.categories__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 35px;
  margin-left: 30px;
  align-self: flex-start;
}
.categories__card {
  padding: 35px 15px 15px 15px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
}
.categories__name {
  margin-top: 20px;
  color: #2b3139;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.categories__btn {
  align-self: flex-end;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #F2584F;
  border-radius: 10px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  transition: background-color 0.2s;
}
.categories__btn:hover {
  background-color: #ed2228;
}

.accordion {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
  color: #212529;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.accordion__header:hover {
  background-color: #eee;
}

.accordion__content .accordion__header {
  padding-left: 2rem;
}

.accordion__content .accordion__content .accordion__header {
  padding-left: 3rem;
}

.accordion > .accordion__item > .accordion__header:hover {
  background-color: #eee;
}

.accordion__header::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  content: "";
  transition: transform 0.2s ease-out;
}

.accordion__item_show > .accordion__header::after,
.accordion__item_slidedown > .accordion__header::after {
  transform: rotate(-180deg);
}

.accordion__content {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.accordion__content > a {
  position: relative;
  display: block;
  padding: 10px 5px;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion__content a {
  padding-left: 2rem;
}

.accordion__content .accordion__content > a {
  padding-left: 4rem;
}

.accordion__content .accordion__content .accordion__content > a {
  padding-left: 4rem;
}

.accordion__body .accordion__content > a:hover {
  background-color: #eee;
}

.accordion__item:not(.accordion__item_show) > .accordion__body {
  display: none;
}

.no-border {
  border: none;
}

.product {
  padding: 30px 0px;
}
.product__container {
  display: flex;
}
.product__image {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
.product__right {
  margin-left: 30px;
}
.product__name {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
}
.product__price-container {
  margin-top: 64px;
  display: flex;
  align-items: center;
}
.product__price-container > * {
  margin-left: 25px;
}
.product__description {
  margin-top: 22px;
  color: #2b3139;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.product__tabs {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}
.product__tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 32%;
  border-radius: 10px;
  background-color: #f2584f;
  transition: background-color 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #333333;
  font-size: 20px;
}
.product__tab:hover {
  background-color: #ed2228;
}
.product__tab--active {
  color: #2b3139;
  border-bottom: 3px solid black;
}
.product__data {
  margin-top: 40px;
  display: none;
}
.product__data--active {
  display: block;
}
.product__feature {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px dotted;
}
.product__feature-name, .product__feature-data {
  padding: 12px 0px;
}
.product__docs {
  margin-top: 10px;
  display: flex;
}
.product__docs-link {
  text-decoration: underline;
}
.product .categories__cards {
  margin-left: 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.product .categories__card {
  width: 250px;
}
.product .quantity__block {
  transform: translateY(0);
  margin-left: 0;
  width: 120px;
}

.error {
  margin-top: 20px;
  padding: 72px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error__number {
  color: #ed2228;
  font-family: Buyan;
  font-size: 340px;
  font-weight: 700;
}
.error__description {
  color: #2b3139;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
}
.error__btn {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}

.auth {
  margin-top: 20px;
  padding: 84px 0px;
}
.auth__wrapper {
  display: flex;
  flex-direction: column;
  padding: 35px 30px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 5px 4px 30px 0px rgba(0, 0, 0, 0.1);
}
.auth__form {
  display: none;
  text-align: center;
}
.auth__form--active {
  display: block;
}
.auth__title {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #2b3139;
}
.auth__input {
  margin-top: 32px;
  padding: 15px;
  padding-left: 50px;
  width: 100%;
  min-height: 50px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f3f3f3;
  border: none;
  background-position: 15px;
  background-repeat: no-repeat;
}
.auth__input:focus {
  outline: 1px solid #fce0e1;
}
.auth__btns {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auth__btn {
  min-width: 150px;
  padding: 14px 44px;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  background: #f2584f;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.auth__btn:hover {
  background: #ed2228;
}
.auth__link {
  color: #f2584f;
  font-size: 20px;
}
.auth__description {
  padding-top: 20px;
  margin-top: 24px;
  text-align: center;
  font-size: 18px;
  border-top: 1px solid #f3f3f3;
}
.auth__description + .auth__link {
  text-decoration: underline;
  margin-top: 5px;
  text-align: center;
  font-size: 18px;
}

.register__menu {
  margin-top: 22px;
  display: flex;
  justify-content: space-around;
}
.register__menu-link {
  padding-bottom: 3px;
  width: 40%;
  text-align: center;
  color: #7A7A7A;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 2px solid #7A7A7A;
  cursor: pointer;
  transition: color 0.2s, border 0.2s;
}
.register__menu-link:hover {
  color: #f2584f;
  border-bottom: 2px solid #f2584f;
}
.register__menu-link--active {
  color: #f2584f;
  border-bottom: 2px solid #f2584f;
}
.register__btn {
  margin-top: 40px;
}

.requisites__text {
  text-align: left;
  font-size: 17px;
  color: #808080;
  font-style: italic;
}

.file-input-container {
  position: relative;
  display: inline-block;
}

.file-input input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-40%);
  cursor: pointer;
}

.mail-svg {
  background-image: url("../sourse/svg/mail.svg");
}

.password-svg {
  background-image: url("../sourse/svg/password.svg");
}

.user-svg {
  background-image: url("../sourse/svg/user.svg");
}

.phone-svg {
  background-image: url("../sourse/svg/phone.svg");
}

.organisation-svg {
  background-image: url("../sourse/svg/organisation.svg");
}

.inn-svg {
  background-image: url("../sourse/svg/inn.svg");
}

.work-svg {
  background-image: url("../sourse/svg/work.svg");
}

.requisites-svg {
  background-image: url("../sourse/svg/pdf.svg");
}

.lk {
  padding: 30px 0px;
}
.lk__wrapper {
  display: flex;
  justify-content: space-between;
}
.lk__orders {
  margin-left: 36px;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.lk__order {
  margin-bottom: 30px;
  padding: 22px 45px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
}
.lk__order:hover {
  box-shadow: 2px 4px 32px 6px rgba(54, 58, 69, 0.2);
}

.order {
  color: #333;
  font-size: 16px;
}
.order__number {
  font-size: 18px;
  font-weight: 700;
  line-height: 152%;
}
.order__price {
  color: #ed2228;
  font-weight: 700;
  line-height: 150%;
}
.order__amount {
  color: #333;
  font-weight: 400;
  line-height: 130%;
  opacity: 0.6;
}
.order__button {
  display: block;
  margin-top: 33px;
  padding: 9px 29px;
  color: white;
  border-radius: 100px;
}
.order__status {
  padding: 3px 15px;
  color: white;
  background-color: #ed2228;
  border-radius: 100px;
}
.order__date {
  margin-top: 10px;
  text-align: right;
}

.user {
  display: flex;
  padding: 30px 22px;
  margin-bottom: 38px;
  max-width: 350px;
  max-height: 180px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
}
.user__name {
  color: #333;
  font-size: 18px;
  font-weight: 700;
}
.user__block {
  margin-top: 10px;
  display: flex;
}
.user__photo {
  position: relative;
}
.user__avatar-icon {
  position: absolute;
  right: 0px;
  top: 5px;
  background-color: #FAFAFA;
  border-radius: 100px;
  border: 1px solid #EAEDF0;
  cursor: pointer;
}
.user__info {
  margin-left: 20px;
}
.user__text {
  margin-left: 5px;
  color: #1A1A1A;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.user__link:hover {
  color: #fc7272;
}

.consult {
  padding: 30px 0px;
}
.consult__form {
  display: flex;
  flex-direction: column;
  padding: 35px 30px;
  max-width: 335px;
  margin: 0 auto;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 5px 4px 30px 0px rgba(0, 0, 0, 0.1);
}
.consult__title {
  color: #2b3139;
  font-size: 28px;
  font-weight: 700;
}
.consult__text {
  margin-top: 30px;
  color: #2b3139;
  font-size: 16px;
  font-weight: 700;
}
.consult__input {
  margin-top: 8px;
  padding: 15px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  fill: #FFF;
  border: 1px solid #959595;
}
.consult__input:focus {
  outline: 1px solid #fce0e1;
}
.consult__btn {
  margin-top: 40px;
  padding: 14px 44px;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(-180deg, rgb(255, 133, 113) 0%, rgb(237, 34, 40) 100%);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.consult__btn:hover {
  background: linear-gradient(-180deg, rgb(255, 133, 113) 0%, rgb(247, 87, 79) 75%, rgb(237, 34, 40) 100%);
}
.consult__description {
  margin-top: 20px;
  color: #2b3139;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.6;
}

.footer {
  padding: 64px 0px 10px 0px;
}
.footer .subtitle,
.footer .subtext {
  text-align: left;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__info {
  max-width: 365px;
}
.footer__block {
  margin-top: 40px;
  display: flex;
}
.footer__icon-block {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 10px;
  background: rgba(237, 34, 40, 0.26);
}
.footer__icon {
  width: 32px;
  height: 32px;
}
.footer__text {
  margin-left: 20px;
}
.footer__text-name {
  color: #2b3139;
  font-size: 20px;
  font-weight: 700;
}
.footer__text-descr {
  margin-top: 3px;
  color: #2b3139;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}
.footer__map {
  width: 600px;
  height: 500px;
  background-color: bisque;
}
.footer .copyright {
  margin-top: 100px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */