.header,
.header__upper,
.header__bottom,
.header__link,
.header__block {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 10px;
}
.header__container {
  width: 100%;
}
.header__upper {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EAEDF0;
  padding-bottom: 8px;
}
.header__bottom {
  padding-top: 10px;
}
.header__button {
  padding: 5px 10px;
  border-radius: 4px;
}
.header__block {
  margin-right: 40px;
}
.header__arrow {
  margin-left: 10px;
}
.header__icon {
  margin-right: 10px;
}

.logo-btn {
  margin-right: 100px;
}

.stripe {
  margin-top: 10px;
  height: 1px;
  background-color: #EAEDF0;
}

.search {
  margin-top: 40px;
  font-size: 20px;
}
.search__container {
  display: flex;
  justify-content: space-between;
}
.search__catalog-btn {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  width: 23%;
  padding: 12px 15px;
  border-radius: 4px;
}
.search__catalog-text {
  justify-self: start;
}
.search__input {
  font-size: 17px;
  width: 46%;
  background: url(/sourse/svg/search.svg) no-repeat scroll 7px 12px;
  background-size: 20px;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  padding-left: 50px;
}
.search__input:focus {
  outline: 2px solid #fce0e1;
}
.search__find-btn {
  width: 12%;
  padding: 12px 0px;
  border-radius: 4px;
  text-align: center;
}
.search__basket-btn {
  display: flex;
  justify-content: center;
  padding: 12px 0px;
  width: 12%;
  border-radius: 4px;
}
.search__basket-icon {
  margin-right: 3px;
}

.red-btn {
  background: linear-gradient(-180deg, rgb(255, 133, 113) 0%, rgb(237, 34, 40) 100%);
  transition: all 2s;
}
.red-btn:hover {
  background: linear-gradient(-180deg, rgb(255, 133, 113) 0%, rgb(247, 87, 79) 75%, rgb(237, 34, 40) 100%);
}

.pink-btn {
  transition: background-color 0.2s;
  background: #fce0e1;
}
.pink-btn:hover {
  background: #fcc0c2;
}

.burger {
  justify-self: start;
  margin-right: 30px;
}
.burger__stripe {
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 100px;
}
.burger__stripe:nth-child(-n+2) {
  margin-bottom: 4px;
}

.swiper {
  margin-top: 40px;
}

.swiper-1 {
  height: 420px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #FC7272;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-horizontal > .swiper-pagination-bullets {
  position: relative;
  bottom: 15px;
}

.swiper-button-prev-2,
.swiper-button-next-2 {
  position: absolute;
  top: 60%;
  width: 60px;
  height: 60px;
  z-index: 10;
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.16));
  cursor: pointer;
  background-image: url("../sourse/svg/left-arrow.svg") !important;
}

.swiper-button-prev-2 {
  left: -82px;
}

.swiper-button-next-2 {
  transform: rotate(180deg);
  right: -82px;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("/sourse/fonts/SFPRODISPLAYREGULAR.OTF");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "SFProDisplay";
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  position: relative;
  padding: 0 10px;
  max-width: 1140px;
  margin: 0 auto;
}

.subtitle {
  color: #2B3139;
  text-align: center;
  font-family: Buyan;
  font-size: 52px;
  font-weight: 700;
}

.subtext {
  margin-top: 10px;
  color: #2B3139;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.slider {
  padding-bottom: 50px;
}

.categories {
  padding: 30px 0;
  background: #EFF2F5;
}
.categories__link {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
}
.categories__text {
  margin-top: 25px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */