.header,
.header__upper,
.header__bottom,
.header__link,
.header__block {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 10px;

  &__container {
    width: 100%;
  }

  &__upper {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EAEDF0;
    padding-bottom: 8px;
  }

  &__bottom {
    padding-top: 10px;
    justify-content: space-between;
    max-width: 500px;
  }

  &__button {
    padding: 5px 10px;
    border-radius: 4px;
  }

  &__text {
    transition: color 0.1s;
  }

  &__text:hover {
    color: $red-color;
  }

  &__arrow {
    margin-left: 10px;
  }

  &__burger {
    transform: rotateZ(0deg);
    transition: transform 0.2s;
    z-index: 3;
    display: none;

    &--rotate {
      transform: rotateZ(90deg);
    }

    &__container>.header__burger__strip:nth-child(n+2) {
      margin-top: 10px;
    }

    &__strip {
      width: 30px;
      height: 2px;
      background-color: black;
    }
  }
}

.logo-btn {
  margin-right: 100px;
}

.stripe {
  margin-top: 10px;
  height: 1px;
  background-color: #EAEDF0;
}

.search {
  margin-top: 20px;
  font-size: 20px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__catalog-btn {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    width: 23%;
    padding: 12px 15px;
    border-radius: 4px;
  }

  &__icon {
    justify-self: start;
    margin-right: 30px;
  }

  &__stripe {
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 100px;

    &:nth-child(-n + 2) {
      margin-bottom: 4px;
    }
  }

  &__catalog-text {
    justify-self: start;
  }

  &__input {
    font-size: 17px;
    width: 46%;
    background: url(../sourse/svg/search.svg) no-repeat scroll 7px 12px;
    background-size: 20px;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    padding-left: 50px;

    &:focus {
      outline: 2px solid $pink-color;
    }
  }

  &__find-btn {
    width: 12%;
    padding: 12px 0px;
    border-radius: 4px;
    text-align: center;
  }

  &__basket-btn {
    display: flex;
    justify-content: center;
    padding: 12px 0px;
    width: 12%;
    border-radius: 4px;
  }

  &__basket-icon {
    margin-right: 3px;
  }
}

.burger {
  &__menu {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    transition: transform 0.2s;
    transform: translateX(100%);
    background-color: #EAEDF0;

    &--open {
      transform: translateX(0%);
    }

    &-item {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
    }

    &__ul {
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
      padding: 0;
      gap: 20px;
      list-style: none;
    }

    &-link {
      margin-left: 5px;
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      &:hover {
        color: $red-color;
      }
    }

    &-btn {
      width: 100%;
      margin-left: 0;
    }

    &--open {
      transform: translateX(0%);
    }
  }
}

.dropbtn {
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: color 0.1s;

  &:hover {
    color: $red-color;
  }
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
  display: block;
}


.dark-screen {
  z-index: 2;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
}

.dark-screen--active {
  display: block;
  position: fixed;
  animation: opacity-slow;
  animation-duration: 0.2s;
}

@keyframes opacity-slow {
  from {
    opacity: 0.0;
  }

  to {
    opacity: 0.5;
  }
}

.overflow-hidden {
  overflow: hidden;
}


@media (max-width: 768px) {

  .header {
    &__upper {
      justify-content: flex-end;
      border-bottom: none;
    }

    &__link {
      display: none;
    }

    &__burger {
      display: block;
    }

    &__bottom {
      display: none;
    }
  }

  .search {

    &__icon {
      margin-right: 0;
    }

    &__catalog-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__catalog-text {
      display: none;
    }

    &__basket-text {
      display: none;
    }

    &__find-text {
      display: none;
    }

    &__find-btn {
      background-image: url(../sourse/svg/search.svg);
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: center;
    }

    &__input {
      font-size: 15px;
    }

  }
}

@media (max-width: 576px) {
  .stripe {
    margin: 0;
  }

  .search {
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .search {
    &__input {
      background-image: none;
      padding-left: 5px;
    }
  }
}