.swiper {
  margin-top: 40px;
}

.swiper-1 {
  height: 420px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #FC7272;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-horizontal>.swiper-pagination-bullets {
  position: relative;
  bottom: 15px; 
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 60%;
  width: 60px;
  height: 60px;
  z-index: 10;
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.16));
  cursor: pointer;
  background-image: url("../sourse/svg/left-arrow.svg") !important;
}

.left-arrow {
  left: -82px;
}

.right-arrow {
  transform: rotate(180deg);
  right: -82px;
}

