$black-color: #2b3139;
$pink-color: #fce0e1;
$pink-hover: #fcc0c2;
$orange-color: #f2584f;
$red-color: #ed2228;
$red-gradient: linear-gradient(-180deg, rgba(255, 133, 113, 1) 0%, rgba(237, 34, 40, 1) 100%);
$red-gradient-hover: linear-gradient(-180deg, rgba(255, 133, 113, 1) 0%, rgba(247, 87, 79, 1) 75%, rgba(237, 34, 40, 1) 100%);

@font-face {
  font-family: 'SFProDisplay';
  src: url('../sourse/fonts/SFPRODISPLAYREGULAR.OTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Buyan';
  src: url('../sourse/fonts/BuyanBold.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'SFProDisplay';
  font-weight: normal;
  font-style: normal;
  line-height: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

svg {
  max-width: 24px;
  max-height: 24px;
}

.container {
  position: relative;
  padding: 0 10px;
  max-width: 1140px;
  margin: 0 auto;
}

.subtitle {
  color: $black-color;
  text-align: center;
  font-family: Buyan;
  font-size: 52px;
  font-weight: 700;
}

.subtext {
  margin-top: 10px;
  color: $black-color;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.gray-background {
  background: #EFF2F5;
}

.red-text {
  color: $red-color;
}

.page-path {
  margin-top: 20px;
  margin-bottom: 20px;
}

.slider {
  padding-bottom: 50px;
}

@import '_header';
@import 'main/all';
@import 'about/all';
@import 'our-team/all';
@import 'basket/all';
@import 'categories/all';
@import 'product/all';
@import 'error/all';
@import 'auth/all';
@import 'lk/all';
@import '_consult';
@import '_footer';