.auth {
  margin-top: 20px;
  padding: 84px 0px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 35px 30px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 5px 4px 30px 0px rgba(0, 0, 0, 0.10);
  }

  &__form {
    display: none;
    text-align: center;
  }

  &__form--active {
    display: block;
  }

  &__title {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    color: $black-color;
  }

  &__input {
    margin-top: 32px;
    padding: 15px;
    padding-left: 50px;
    width: 100%;
    min-height: 50px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f3f3f3;
    // border: 1px solid #959595;
    border: none;
    background-position: 15px;
    background-repeat: no-repeat;

    &:focus {
      outline: 1px solid $pink-color;
    }
  }

  &__btns {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    min-width: 150px;
    padding: 14px 44px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    background: $orange-color;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background: $red-color;
    }
  }

  &__link {
    color: $orange-color;
    font-size: 20px;
  }

  &__description {
    padding-top: 20px;
    margin-top: 24px;
    text-align: center;
    font-size: 18px;
    border-top: 1px solid #f3f3f3;

    &+.auth__link {
      text-decoration: underline;
      margin-top: 5px;
      text-align: center;
      font-size: 18px;
    }
  }
}

.register {
  &__menu {
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
  }

  &__menu-link {
    padding-bottom: 3px;
    width: 40%;
    text-align: center;
    color: #7A7A7A;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid #7A7A7A;
    cursor: pointer;
    transition: color 0.2s, border 0.2s;

    &:hover {
      color: $orange-color;
      border-bottom: 2px solid $orange-color;
    }
  }

  &__menu-link--active {
    color: $orange-color;
    border-bottom: 2px solid $orange-color;
  }

  &__btn {
    margin-top: 40px;
  }
}

.requisites__text {
  text-align: left;
  font-size: 17px;
  color: #808080;
  font-style: italic;
}

.file-input-container {
  position: relative;
  display: inline-block;
}

.file-input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-40%);
  cursor: pointer;
}

.mail-svg {
  background-image: url("../sourse/svg/mail.svg");
}

.password-svg {
  background-image: url("../sourse/svg/password.svg");
}

.user-svg {
  background-image: url("../sourse/svg/user.svg");
}

.phone-svg {
  background-image: url("../sourse/svg/phone.svg");
}

.organisation-svg {
  background-image: url("../sourse/svg/organisation.svg");
}

.inn-svg {
  background-image: url("../sourse/svg/inn.svg");
}

.work-svg {
  background-image: url("../sourse/svg/work.svg");
}

.requisites-svg {
  background-image: url("../sourse/svg/pdf.svg");
}

@media (max-width: 676px) {
  .auth {
    padding: 20px 0px;

    &__wrapper {
      padding: 15px;
    }

    &__btn {
      min-width: unset;
    }

    &__link {
      text-align: center;
    }
  }
}