.our-team {
  padding-bottom: 30px;

  .subtitle {
    margin-top: 35px;
  } 

  &__card {
    margin-top: 35px;
    display: flex;
    align-items: center;
  }

  &__data-block {
    display: flex;
    align-items: center;
  }

  &__info {
    margin-left: 50px;
  }

  &__data {
    margin-left: 10px; 
  }

  &__img {
    width: 250px;
    height: 250px;
  }

  &__position,
  &__data-block {
    margin-top: 20px;
  }

  &__position,
  &__data {
    color: $black-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
    letter-spacing: 0.48px;
  }

  &__name {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    /* 93.75% */
    letter-spacing: 0.64px;
  }
}

@media (max-width: 1100px) {
  .our-team__img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 676px) {

  .our-team__info {
    margin-left: 20px;
  }

  .our-team__img {
    width: 100px;
    height: 100px;
  }

  .our-team__position,
  .our-team__data-block {
    margin-top: 5px;
  }

  .our-team__name {
    font-size: 22px;
  }

  .our-team__position,
  .our-team__data {
    font-size: 18px;
    margin-left: 0;
  }
}

@media (max-width: 400px) {

  .our-team__name {
    font-size: 16px;
  }

  .our-team__position,
  .our-team__data {
    font-size: 12px;
  }
}